{#
/**
 * @file users_entity.html.twig
 * Default theme implementation to present Users entity data.
 *
 * This template is used when viewing Users entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_users_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('users_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
