{#
/**
 * @file currency_entity.html.twig
 * Default theme implementation to present Currency entity data.
 *
 * This template is used when viewing Currency entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_currency_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('currency_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
